<!DOCTYPE html>
<html>
<head>
  <title>Kill the newsletter!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Kill the newsletter!</h1>

    <p>Convert newsletters into RSS feeds.</p>

    <% if flash.alert %>
      <div class="alert alert-danger" role="alert"><%= flash.alert %></div>
    <% end %>

    <% unless @feed.persisted? %>
      <%= simple_form_for @feed do |form| %>
        <%= form.input :title %>
        <%= form.button :submit %>
      <% end %>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
